$backgroundColor: #1a5a12;
// $mainColor: #d42828; pozniej aktywoawc
$mainColor: #1f6815;
// $borders: rgba(70, 70, 70);
$borders: rgb(56, 56, 56);
$bordersShadow: rgba(0, 0, 0, 0.486);
$border2: #7a7a7a;
$pokedexScreenFrame: #575757;
$pokedexScreen: #29215a;

$ledScreenBorderLeft: #ffbf0e;
$ledScreenBorderRight: #ff3c3c;

$footerText: #e6c81e;