input:focus {
  outline: none;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #1b003d !important;
}

.main-wrapper {
  display: -ms-grid;
  display: grid;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #881510;
  left: 0;
  bottom: 0;
  -ms-grid-rows: 20px 60px 40px (1fr)[2] 50px;
      grid-template-rows: 20px 60px 40px repeat(2, 1fr) 50px;
  -ms-grid-columns: 20px 1fr 40px 1fr 20px;
      grid-template-columns: 20px 1fr 40px 1fr 20px;
}

.main-wrapper #separator {
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  grid-row: 1 / 7;
  -ms-grid-column: 3;
  grid-column: 3;
  width: 100%;
  height: 100%;
  background-color: #6e0000;
  z-index: 1;
  -webkit-box-shadow: inset 0 0px 6px 5px #0000001a;
          box-shadow: inset 0 0px 6px 5px #0000001a;
  display: none;
}

header {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

header #header-bar {
  width: 100vw;
  min-width: 450px;
  height: 80px;
  padding: 16px 0 0 5vw;
  -webkit-clip-path: polygon(100% 0, 100% 59%, 30% 59%, 24% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 59%, 30% 59%, 24% 100%, 0 100%, 0 0);
  background-color: #A91510;
  z-index: 1;
}

@media (max-width: 600px) {
  header #header-bar {
    background-color: #A91510;
  }
}

header #header-bar #led-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20px 40px;
      grid-template-rows: 20px 40px;
  -ms-grid-columns: 50px 20px 20px 12px 20px 12px 20px;
      grid-template-columns: 50px 20px 20px 12px 20px 12px 20px;
  width: 100px;
  height: 50px;
}

header #header-bar #led-wrapper #led-big {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column: 1;
  grid-column: 1;
  width: 50px;
  height: 50px;
  background-image: radial-gradient(CornflowerBlue, #2257ca);
  border-radius: 100%;
  border: 2px solid #a5a5a5;
}

header #header-bar #led-wrapper #led-small-left {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  grid-column: 3;
  width: 15px;
  height: 15px;
  margin-top: 4px;
  background-image: radial-gradient(#df7272, #d81616);
  border-radius: 100%;
  border: 2px solid #a5a5a5;
}

header #header-bar #led-wrapper #led-small-mid {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 5;
  grid-column: 5;
  width: 15px;
  height: 15px;
  margin-top: 4px;
  background-image: radial-gradient(#ffe69d, #ffbf0e);
  border-radius: 100%;
  border: 2px solid #a5a5a5;
}

header #header-bar #led-wrapper #led-small-right {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 7;
  grid-column: 7;
  width: 15px;
  height: 15px;
  margin-top: 4px;
  background-image: radial-gradient(#4dd64f, #0f9912);
  border-radius: 100%;
  border: 2px solid #a5a5a5;
}

header #header-bar-shadow {
  position: absolute;
  width: 100vw;
  min-width: 450px;
  height: 80px;
  top: 10px;
  -webkit-clip-path: polygon(100% 0, 100% 59%, 30% 59%, 24% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 59%, 30% 59%, 24% 100%, 0 100%, 0 0);
  background-color: #383838;
  opacity: .3;
  z-index: -1;
}

main {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  -ms-grid-row: 4;
  grid-row: 4;
  width: 80vw;
  min-width: 330px;
  max-width: 34vw;
  height: 70vh;
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: #5c5c5c;
  border-radius: 6px;
}

main #border-screen-led {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  width: 100%;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main #border-screen-led #border-led-1 {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: radial-gradient(#ffd96f, #ffbf0e);
  border: 1px solid #a5a5a5;
  border-radius: 10px;
  margin: 3px;
}

main #border-screen-led #border-led-2 {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: radial-gradient(#ff6e6e, #ff3c3c);
  border: 1px solid #a5a5a5;
  border-radius: 10px;
  margin: 3px;
}

main #pokemon-name-label {
  color: white;
  font-size: large;
}

main #loupe-search {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / span 8;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  width: 94%;
  height: 50px;
  -ms-grid-columns: minmax(80%, 1fr) 50px;
      grid-template-columns: minmax(80%, 1fr) 50px;
}

main #loupe-search #custom-input {
  -ms-grid-column: 1;
  grid-column: 1;
  width: 100%;
  height: 50px;
  border-radius: 6px 0 0 6px;
}

main #loupe-search #loupe-image-background {
  -ms-grid-column: 2;
  grid-column: 2;
  width: 100%;
  height: 50px;
  border-radius: 0 6px 6px 0;
}

main #loupe-search #loupe-image-background #loupe-image {
  width: 50px;
  height: 50px;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  background: url("../assets/images/loupe-light.svg") no-repeat center center;
}

.frame-content-wrapper {
  display: -ms-grid;
  display: grid;
  height: 100%;
  width: auto;
  -ms-grid-rows: 20px 1fr 20px;
      grid-template-rows: 20px 1fr 20px;
  -ms-grid-columns: 10px minmax(288px, 1fr) 10px;
      grid-template-columns: 10px minmax(288px, 1fr) 10px;
  border: 1px solid #a5a5a5;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.486);
          box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.486);
}

.screen-class {
  -ms-grid-column: 2;
  grid-column: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[7];
      grid-template-rows: repeat(7, 1fr);
  -ms-grid-columns: (minmax(20px, 1fr))[8];
      grid-template-columns: repeat(8, minmax(20px, 1fr));
  width: auto;
  min-width: 285px;
  height: 100%;
  border-radius: 6px;
  background-color: #29215a;
  -webkit-box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.486);
          box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.486);
}

#picker {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 4;
  grid-row: 4;
  width: 80vw;
  min-width: 330px;
  max-width: 34vw;
  height: 70vh;
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: #5c5c5c;
  border-radius: 6px;
  display: none;
}

#picker .screen-class {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
}

footer {
  -ms-grid-row: 6;
  grid-row: 6;
  width: 100vw;
  height: 50px;
  left: 0;
  bottom: 0;
  background-color: #A91510;
}

footer p {
  padding: 10px;
  padding-right: 20px;
  text-align: end;
  color: #ffd900;
  -webkit-box-shadow: 0 -10px 10px -10px rgba(0, 0, 0, 0.486);
          box-shadow: 0 -10px 10px -10px rgba(0, 0, 0, 0.486);
  opacity: .3;
}

@media all and (min-width: 992px) {
  .main-wrapper {
    -webkit-transform: scale(0.94);
            transform: scale(0.94);
    border-radius: 6px;
  }
  .main-wrapper #separator {
    display: initial;
  }
  #header-bar {
    border-radius: 6px 6px 0 0;
  }
  main {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  #picker {
    display: initial;
  }
  footer {
    border-radius: 0 0 6px 6px;
  }
}
/*# sourceMappingURL=style.css.map */